{% extends 'base.html.twig' %}
{% block title %}FicheWeb{% endblock %}

{% block body %}

    <!-- HERO -->
    <div id="home" class="hero">
        <div class="home-left">
            <h2 class="home-titre">FICHE WEB</h2>
            <p class="home-p">Web connaissance</p>
            <p class="home-p">Consulter nos tutoriels afin d'acquérir de nouvelles compétences</p>
            <p class="home-p">Tout les jours !</p>
            {% if app.user == false %}
            <div class="btn-hero">
                <a href="/connexion" class="btn-home b1">Connexion</a>
                <a href="/inscription" class="btn-home b2">Inscription</a>
            </div>
            {% else  %}
            <div class="bloc-role">
                <hr class="trait">
                <p class="home-p">Bienvenue {{ app.user.pseudo }} !</p>
                {% if app.user.roles['ROLE'] == 'ROLE_ADMIN' %}
                    <p class="home-p">Vous etes administrateur !</p>
                {% else %}
                    <p class="home-p">Vous etes un utilisateur</p>
                {% endif %}
                <hr class="trait">
            </div>
            {% endif %}
        </div>
        <div class="home-right"></div>
    </div>

    <!-- BLOC DE 3 LOGOS -->
    <div class="bloc-info">
        <h1 class="bloc-titre">PRÉSENTATION</h1>
        <div class="titre-presentation mt-5 h4 text-calibri">
        FICHE WEB
        </div>
        <img src="https://img.icons8.com/bubbles/50/000000/purchase-order.png" class="mt-2 img-thumbnail" style="width:80px;"/>
        <p class="mt-3 mb-5 ms-5 me-5 h4">FicheWeb est un site web de connaissance, nous proposons une variété de fiches tutoriels afin de vous faire partager
            les connaissances sur le développement web et des langages de développement.
        </p>
        <section class="bloc-services">
            <div class="bloc-item">
                <i class="bi bi-card-text fiche-icon"></i>
                <p class="bloc-services-paragraphe"> Nos fiches tutoriels qu'on propose avec des textes, images et vidéos. </p>
            </div>
            <div class="bloc-item">
                <i class="bi bi-lightbulb solution-icon"></i>
                <p class="bloc-services-paragraphe"> Nos solutions qui permettront de répondre à votre besoin.</p>
            </div>
            <div class="bloc-item">
                <i class="bi bi-reception-4 competence-icon"></i>
                <p class="bloc-services-paragraphe"> Acquérir des compétences c'est une bonne chose.</p>
            </div>
        </section>
    </div>
    
    <!-- BLOC AVEC LES FICHES --> 
    <div class="bloc2">
        <h1 class="bloc2-grand-titre">LES FICHES</h1>
            <div class="container bloc2-fiches">
                <div class="box">
                    <div class="content">
                        <h2 class="bloc2-num">01</h2>
                        <h3 class="bloc2-titre">HTML</h3>
                        <p class="bloc2-p">Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5,
                        est le langage de balisage conçu pour représenter les pages web. 
                        Ce langage permet : d’écrire de l’hypertexte, 
                        </p>
                        <a href="#" class="bloc2-lien">En savoir plus</a>
                    </div>
                </div>
        
                <div class="box">
                    <div class="content">
                        <h2 class="bloc2-num">02</h2>
                        <h3 class="bloc2-titre">Service Two</h3>
                        <p class="bloc2-p">Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5,
                        est le langage de balisage conçu pour représenter les pages web. 
                        Ce langage permet : d’écrire de l’hypertexte, 
                        </p>
                        <a href="#" class="bloc2-lien">En savoir plus</a>
                    </div>
                </div>

                <div class="box">
                    <div class="content">
                        <h2 class="bloc2-num">03</h2>
                        <h3 class="bloc2-titre">Service Three</h3>
                        <p class="bloc2-p">Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5,
                        est le langage de balisage conçu pour représenter les pages web. 
                        Ce langage permet : d’écrire de l’hypertexte, 
                        </p>
                        <a href="#" class="bloc2-lien">En savoir plus</a>
                    </div>
                </div>

                <div class="box">
                    <div class="content">
                        <h2 class="bloc2-num">04</h2>
                        <h3 class="bloc2-titre">Service Four</h3>
                        <p class="bloc2-p">Le HyperText Markup Language, généralement abrégé HTML ou dans sa dernière version HTML5,
                        est le langage de balisage conçu pour représenter les pages web. 
                        Ce langage permet : d’écrire de l’hypertexte, 
                        </p>
                        <a href="#" class="bloc2-lien">En savoir plus</a>
                    </div>
                </div> 
        
            </div> 
        
    </div>
    
{% endblock %}

