{% extends 'base.html.twig' %}

{% block title %}Connectez vous !{% endblock %}

{% block body %}
  <style>
        .bannierre{
            background: url('{{ asset("images/banniere2.jpg") }}');
            display: flex;
            align-items: center;
            justify-content: center;
            height: 400px;
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-size:cover;
            background-position: 50% 10%;
        }
  </style>

  <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Connexion </h1>
  </div>
  <br><br><br><br>
    <div class="container col-4">
      <form method="post">
        {% if error %}
          <div class="alert alert-danger">Erreur lors de la connexion. Email ou mot de passe invalide</div>
        {% endif %}

        <h1 class="text-center h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
        <label for="inputEmail">Email</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input placeholder="Entre votre adresse email..." type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required="required" autofocus="autofocus">
        </div>
        
        <label for="inputPassword">Mot de passe</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
          <input placeholder="Entre votre mot de passe..." type="password" name="password" id="inputPassword" class="form-control" required="required">
        </div>
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="container">
          <div class="row align-items-center justify-content-md-center">
            <div class="col-3"><button  class="btn btn-lg btn-success mt-2" type="submit">Connexion</button></div>
            <div class="col-5 ms-4"><a href="service/motDePasseOublier">Mot de passe oublié ?</a></div>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>
<br><br><br><br>
{% endblock %}
