{% extends 'base.html.twig' %}

{% block title %}Connectez vous !{% endblock %}

{% block body %}

  <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Connexion </h1>
  </div>
  <br><br><br><br>
    <div class="container bloc-form">
      <form method="post col">
        {% if error %}
          <div class="alert alert-danger col-4">Erreur lors de la connexion. Email ou mot de passe invalide</div>
        {% endif %}
        <div class="row"><h1 class="text-center h3 mb-3 font-weight-normal col">Veuillez vous connecter</h1></div>
        <div class="row justify-content-center">
            <div class="form-floating col-4 mb-2">
              <input placeholder="Entre votre adresse email..." type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required="required" autofocus="autofocus">
              <label class="ms-2" style="color:black;" for="inputEmail">@ Adresse mail</label>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-floating col-4">
              <input placeholder="Entre votre mot de passe..." type="password" name="password" id="inputPassword" class="form-control" required="required">
              <label class="ms-2" style="color:black;" for="inputPassword"><i class="bi bi-lock"></i> Mot de passe</label>
            </div>
        </div>                      
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <div class="row justify-content-center">
            <div class="col-1"><button  class="btn btn-success mt-2" type="submit">Connexion</button></div>
            <div class="col-3 d-flex align-items-center"><a class="text-center" href="service/motDePasseOublier">Mot de passe oublié ?</a></div>
          </div>
        <br>
      </form>
    </div>
  </div>
<br><br><br><br>
{% endblock %}
