{% extends 'base.html.twig' %}





{% block title %}Profil{% endblock %}
{% block body %}


<div class="container">
<h1>Bienvenue sur la page profil</h1>

<table class="table">
    <thead>
        <tr>
          <th>Email</th>
          <th>Pseudo</th>
          <th>Date d'inscription</th>
        </tr>
      </thead>
      <tbody>
          <td>{{ app.user.email }}</td>
          <td>{{ app.user.pseudo }}</td>
          <td>{{ app.user.dateInscription.format('d/m/Y') }}</td>
      </tbody>
</table>

<a href="{{ path('user_edit',{'id':app.user.id}) }}"> Modifier mes données personelles</a>



</div>
{% endblock %}
