{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user and (app.user.roles["ROLE"])=="ROLE_ADMIN" %}

    <div class="container">
        <div class="row">    
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Les demandes de fiche</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dernière demande : {{last['pseudo']}} </h6>
                    <p class="card-text">{{last['message']}}...</p>
                    <a href="/admin/demandes" class="card-link">Voir toutes les demandes</a>
                </div>     
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>     
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>     
            </div>
        </div>
    </div>
    {% else %}

    <br>
    <h1 class="text-center">Vous n'etes pas connecter ou vous n'avez pas la permission d'accèder à cette page</h1>

    {% endif %}


{% endblock %}






