body{
    background-color: rgb(2, 255, 2);
}
.titre{
    color: blue;
}
.consultation-header{
    background-color: black;
}

div.container-fluid{
    background-color: tomato;
    border: 2px solid blue;
}

li{
    text-decoration: none;
    text-decoration-style: none;
}

    .row{
        display: flex !important;
    }
    
    .conteneur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .lg {
        height: 20rem;
    }
    
    .conteneur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    .aligne-centre {
        display: flex!important;
        align-items: center;
    }
    
    #thermeLabel {
        margin-right: 50px;
        margin-left: 15px;
    }
    
    #btnEnregistrer {
        margin-left: 100px;
    }
    
    #ckcLogin {
        margin-left: 10px;
        margin-right: 5px;
    }
    
    .digit {
        display: inline-block!important;
        width: 50px;
    }

    .ajustForm{
        height: 500px;
    }
