body, html{
    height: 100%;
    margin: 0;
    padding: 0; 
    /*background: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);*/
    /*background: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);*/
    /*background: linear-gradient(340deg, #ffeaa7 0%, #000000 100%);*/
    /*background: linear-gradient(340deg, #55efc4 0%, #000000 100%);*/
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------- HERO ------------------------------------------------- */
.hero{
    height: 800px;
    display: flex;
    overflow: hidden;
}

.home-left{
    position: relative;
    width: 40%;
    height: 100%;
    background: black;
    box-shadow: 90px 0 100px black; 
}
.home-titre{
    color: white;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space:nowrap;
}

.home-p{
    color: white;
    font-size: 30px;
    width: 600px;
    margin-left: 8vw;
    line-height: 1.3;
}
.btn-hero{
    display: flex;
}
.btn-home{
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 15px;
    text-decoration: none;
    margin-top: 40px;
    border: 1px solid white;
    width: 150px;
    cursor: pointer;
}
.btn-home:hover{
    transition: all 0.2s ease;
    color: black;
    background: white;
}
.b1{
    margin-left: 8vw;
}
.b2{
    margin-left: 10px;
}

@media screen and (max-width: 1350px){
    .home-left{
        width: 60%;
    }
    .home-right{
        background-position: 45% 20%;
    }
}
@media screen and (max-width: 750px){
    .hero{
        height: 600px;
    }
    .home-titre{
        font-size: 50px;
        padding-top: 120px;
    }
    .home-p{
        font-size: 25px;
        margin-bottom: 10px;
        width: 450px;
    }
    .btn-home{
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .home.home-left{
        width: 50%;
    }
}
@media screen and (max-width: 550px){
    .hero{
        height: 500px;
    }
    .home-titre{
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .home-p{
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 15px;
        width:300px;
    }
    .btn-home{
        padding: 8px;
        font-size: 16px;
    }
    .b1{
        margin-left: 2vw;
    }
    .b2{
        margin-left: 10px;
    }
    .home-left{
        box-shadow: 20px 0 100px 100px black;
        width: 40%
    }
}
/* ------------------------------------------- FIN HERO ------------------------------------------------- */




/* ------------------------------------------- BLOC SERVICES ------------------------------------------------- */
.bloc-info{
    padding-top: 50px;
    text-align: center;
    background: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.bloc-titre{
    position: relative;
}
.bloc-titre::before{
    content: '';
    position: absolute;
    bottom: -7px;
    width: 200px;
    height: 4px;
    background: #1F39DD;
}

.bloc-services{
    display: flex;
    justify-content: space-evenly;
    /*background:linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);*/
}
.bloc-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    border: 5px solid black;
    padding: 35px;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    opacity: 0.7;
}
.bloc-item:hover{
    background:/*rgb(61, 61, 61);*/black;
    transition: 0.5s;
    border-radius: 50px 10px;
    box-shadow: 0px 20px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    opacity: 1;
    color: white;
}
.fiche-icon{
    font-size: 50px;

}
.solution-icon{
    font-size: 50px;

}
.competence-icon{
    font-size: 50px;
}
.bloc-services-paragraphe{
    font-weight: 600;
    width: 200px;
    text-align: center;
}
@media  screen and (max-width:1100px){
    .bloc-services{
        flex-direction: column;
    }
}

/* ------------------------------------------- FIN BLOC SERVICES ------------------------------------------------- */



/* ------------------------------------------- LES TITRES H1 ------------------------------------------------- */
.bloc2-grand-titre{
    position: relative;
    margin-top: 100px;
}
.bloc2-grand-titre::before{
    content: '';
    position: absolute;
    bottom: -7px;
    width: 200px;
    height: 4px;
    background: #1F39DD;
}
@media screen and (max-width:900px){
    .bloc2-grand-titre::before{
        width: 150px;
    }
}
/* ------------------------------------------- FIN LES TITRES H1 ------------------------------------------------- */




/* ------------------------------------------- BLOC DES FICHES ------------------------------------------------- */
.bloc2-fiches{
    display:flex;
    position: relative;
    width:90%;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
    margin-top:100px;
    margin-bottom:100px;
    margin-right: auto;
    margin-left: auto;
    z-index:1;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}
.bloc2-fiches .box{
    position: relative;
    height:400px;
    background: #060c21;
    display:flex;
    justify-content: center;
    align-items:center; 
    margin: 20px;
}
.bloc2-fiches .box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}
.bloc2-fiches .box:nth-child(1):before
{
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    /*linear-gradient(316deg, #4062bb 0%, #5200ae 74%);*/
    /*linear-gradient(315deg, #36096d 0%, #37d5d6 74%);*/
    /*linear-gradient(315deg, #e94619, #f6d9a9);*/
    
}
.bloc2-fiches .box:nth-child(2):before
{
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    /*linear-gradient(315deg, #89ff00, #00bcd4);*/
}
.bloc2-fiches .box:nth-child(3):before
{
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    /*linear-gradient(315deg, #e91e63, #5d02ff);*/
}
.bloc2-fiches .box:nth-child(4):before
{
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    /*linear-gradient(315deg, #ff0000, #ffc107);*/
}

.bloc2-fiches .box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255,0.05);
    pointer-events: none;
}
.content{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.box:hover{
    
    opacity:0.9;
}
.box .content .bloc2-num{
    position: absolute;
    top:-60px;
    right:20px;
    margin:0;
    padding:0;
    font-size:10em;
    color: rgba(255,255,255,.05);
    transition: 0.1s;
}
.box:hover .content .bloc2-num{
    top:-100px;
    color: #505050;
    z-index:-1;
}
.box .content .bloc2-titre{
    margin: 0 0 10px;
    padding:0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;

}
.box .content .bloc2-p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.box .content .bloc2-lien{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color:#fff;
    transition:0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}
.box:hover .content .bloc2-lien{ 
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.box .content .bloc2-lien:hover{ 
    color: #000;
    background: #fff;
}
/* ------------------------------------------- FIN BLOC DES FICHES ------------------------------------------------- */




/* ------------------------------------------- FOOTER ------------------------------------------------- */

#footer-main{
    position:relative;
    width:100%;
    height:auto;
    padding:50px 100px;
    color:white;
    /*background:#111;*/
    background: linear-gradient(180deg, #070707 30%, #000000 70%);
    justify-content: space-between;
    flex-wrap:wrap;
    opacity: 0.9;
}
.footer-contenu{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer-contenu .sec{
    margin-right: 30px;
}
.footer-contenu .sec.aboutus{
    width:40%
}
.footer-contenu .footer-titre{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-contenu .footer-titre:before{
    content: '';
    position: absolute;
    bottom: -7px;
    left:0;
    width: 150px;
    height: 4px;
    background: #1F39DD;
}
.footer-contenu .footer-p{
    color: #999;
    font-size:20px
}
.sci{
    margin-top: 20px;
    display:flex;

}
.sci .sci-li{
    list-style: none;
}
.sci .sci-li .sci-lien{
    display: inline-block;
    width:40px;
    height:40px;
    background: #222;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right: 10px;
    text-decoration:none;
    border-radius:4px;
    font-size:20px;
}
.sci .sci-li .sci-lien:hover{
    background: #1F39DD;
}
.sci .sci-li .sci-lien .bi{
    color: #fff;
    font-size:20px;
} 
.quickLinks{
    position:relative;
    width:25%;
}
.quickLinks .sec{
    padding:0;
}
.quickLinks .sec .sec-li{
    list-style:none;
}
.quickLinks .sec .sec-li .sec-lien{
    color: #999;
    text-decoration:none;
    margin-bottom:10px;
    display: inline-block;
    font-size:20px;
}
.quickLinks .sec .sec-li .sec-lien:hover{
    color:#fff;
}
.contact{
    width:calc(35% - 60px);
    margin-right:0 !important;
}
.contact .info{
    position: relative;
    padding:0;
}
.contact .info .contact-li{
    display:flex;
    margin-bottom: 16px;
}
.contact .info .contact-li .contact-span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info .contact-li .contact-span{
    color: #999;
}
.contact .info .contact-li .email{
    color: #999;
    text-decoration:none;
    font-size:20px;
}
.contact .info .contact-li .email:hover{
    color: #fff;
}
.copyrightText{
    width:100%;
    background:#161616;
    padding: 8px 100px;
    text-align:center;
    color:#999;
    font-size:20px;
}

@media (max-width: 991px){
    #footer-main{
        padding:40px;
    }
    #footer-main .footer-contenu{
        flex-direction:column;
    }
    #footer-main .footer-contenu .sec{
        margin-right:0;
        margin-bottom: 40px;
    }
    #footer-main .footer-contenu .sec.aboutus, .quickLinks, .contact{
        width:100%;
    }
    .copyrightText{
        padding:8px 40px; 
    }
}
/* ------------------------------------------- FIN FOOTER ------------------------------------------------- */