body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* ------------------------------------------- HERO ------------------------------------------------- */

.hero {
    height: 800px;
    display: flex;                /* Hauteur du bloc HERO */
    overflow: hidden;
}

.home-right{
    background: url('../images/back-hero1.jpg');
    width: 60%;
    height: 100%;
    background-attachment:fixed;        /* Bloc à droite qui se trouve dans le bloc hero */
    background-repeat:no-repeat;
    background-size:cover;
}

.home-left {
    position: relative;
    width: 40%;                 /* Bloc à gauche qui se trouve dans le bloc hero */
    height: 100%;
    background: black;
    box-shadow: 90px 0 100px black;
}

.home-titre {
    color: white;
    font-size: 90px;
    padding-top: 200px;         /* Le titre dans le bloc hero */
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

.home-p {
    color: white;
    font-size: 30px;
    width: 600px;       /* Le paragraphe dans le bloc hero */
    margin-left: 8vw;
    line-height: 1.3;
}

.btn-hero {
    display: flex;    /* Les boutons connexion et inscription */
}

.btn-home {
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 15px;                /* Bouton avec bordure de couleure blanche et texte blanc */
    text-decoration: none;
    margin-top: 40px;
    border: 1px solid white;
    width: 150px;
    cursor: pointer;
}

.btn-home:hover {
    transition: all 0.2s ease;
    color: black;                    /* Le bouton devient blanc et le texte en noir quand on survol sur le bouton */
    background: white;
}

.b1 {
    margin-left: 8vw;     /* L'espacement du bouton connexion */
}

.b2 {
    margin-left: 10px;   /* L'espacement du bouton inscription */
}

/* ----------- RESPONSIVE BLOC HERO -------------- */
@media screen and (max-width: 1350px) {
    .home-left {
        width: 60%;
    }
    .home-right {
        background-position: 45% 20%;
    }
}

@media screen and (max-width: 750px) {
    .hero {
        height: 600px;
    }
    .home-titre {
        font-size: 50px;
        padding-top: 120px;
    }
    .home-p {
        font-size: 25px;
        margin-bottom: 10px;
        width: 450px;
    }
    .btn-home {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .home.home-left {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .hero {
        height: 500px;
    }
    .home-titre {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .home-p {
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 15px;
        width: 300px;
    }
    .btn-home {
        padding: 8px;
        font-size: 16px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 10px;
    }
    .home-left {
        box-shadow: 20px 0 100px 100px black;
        width: 40%
    }
}
/* ------- FIN BLOC RESPONSIVE ------- */

/* ------------------------------------------- FIN HERO ------------------------------------------------- */


/* ------------------------------------------- BLOC SERVICES ------------------------------------------------- */

.bloc-info {
    padding-top: 50px;     /* L'arrière blanc du bloc de présentation */
    text-align: center;   
    background: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

.bloc-titre {
    position: relative;
}

.bloc-titre::before {
    content: '';
    position: absolute;           /* Le grand titre dans le bloc de présentation */
    bottom: -7px;
    width: 200px;
    height: 4px;
    background: #1F39DD;
}

.bloc-services {
    display: flex;
    justify-content: space-evenly;      /* Espacement des 3 blocs */
}

.bloc-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    border: 5px solid black;       /* Le design des 3 blocs */
    padding: 35px;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    opacity: 0.7;
}

.bloc-item:hover {
    background:black;
    transition: 0.5s;             /* Le design des 3 blocs quand on survol */
    border-radius: 50px 10px;
    box-shadow: 0px 20px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    opacity: 1;
    color: white;
}

/* ---- Les icônes --- */
.fiche-icon {
    font-size: 50px;
}

.solution-icon {
    font-size: 50px;
}

.competence-icon {
    font-size: 50px;
}
/* ---- Les icônes --- */

.bloc-services-paragraphe {
    font-weight: 600;
    width: 200px;           /* Paragraphe des 3 blocs d'icônes */
    text-align: center;
}


@media screen and (max-width:1100px) {
    .bloc-services {
        flex-direction: column;
    }
}


/* ------------------------------------------- FIN BLOC SERVICES ------------------------------------------------- */


/* ------------------------------------------- LES TITRES H1 ------------------------------------------------- */

.bloc2-grand-titre {
    position: relative;
    margin-top: 100px;
}

.bloc2-grand-titre::before {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 200px;
    height: 4px;
    background: #1F39DD;
}

@media screen and (max-width:900px) {
    .bloc2-grand-titre::before {
        width: 150px;
    }
}


/* ------------------------------------------- FIN LES TITRES H1 ------------------------------------------------- */


/* ------------------------------------------- BLOC DES FICHES ------------------------------------------------- */

.bloc2{
    background:url('../images/banniere2.jpg');
    color:white;
    text-align:center;          /* Arrière plan des blocs de fiches */
    padding:10px; 
    background-attachment:fixed;
    
}

.bloc2-fiches {
    display: flex;
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;                  /* Position des blocs des fiches */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.bloc2-fiches .box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;                  /* La couleur des boîtes des fiches */
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.bloc2-fiches .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;          /* La couleur des boîtes à l'arrière */
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

/* --------------------  La couleur des boîtes quand on survol  ---------------------- */
.bloc2-fiches .box:nth-child(1):before {
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.bloc2-fiches .box:nth-child(2):before {
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.bloc2-fiches .box:nth-child(3):before {
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.bloc2-fiches .box:nth-child(4):before {
    background: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}
/* --------------------  La couleur des boîtes quand on survol  ---------------------- */

.bloc2-fiches .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;     /* La couleur gauche de la boîte */
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.content {
    position: relative;
    padding: 20px;                    /* l'effet de mouvement du contenu */
    transform: translateY(40px);
}

.box:hover {
    opacity: 0.9;     /* l'opacité quand on survol sur les blocs */
}

.box .content .bloc2-num {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;              /* La couleur du numéro */
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: 0.1s;
}

.box:hover .content .bloc2-num {
    top: -100px;
    color: #505050;      /* La couleur du numéro devient plus foncé quand on survol */
    z-index: -1;
}

.box .content .bloc2-titre {
    margin: 0 0 10px;
    padding: 0; 
    font-size: 24px;       /* Titre de la fiche */
    font-weight: 500;
    color: #fff;
}

.box .content .bloc2-p {
    margin: 0;
    padding: 0;            /* Paragraphe de la fiche */
    color: #fff;
    font-size: 16px;
}

.box .content .bloc2-lien {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;         /* Le bouton en savoir plus */
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content .bloc2-lien {
    transform: translateY(0);
    opacity: 1;                 /* faire apparaître le bouton quand on survol sur le bloc */
    visibility: visible;
}

.box .content .bloc2-lien:hover {
    color: #000;     
    background: #fff;    /* La couleur du bouton change quand on survol */
}


/* ------------------------------------------- FIN BLOC DES FICHES ------------------------------------------------- */


/* ------------------------------------------- FOOTER ------------------------------------------------- */

#footer-main {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;       /* L'arrière plan du Footer */
    color: white;
    /*background:#111;*/
    background: linear-gradient(180deg, #070707 30%, #000000 70%);
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0.9;
    bottom: 0;
}

.footer-contenu {
    display: flex;
    flex-wrap: wrap;      /* Les positions des blocs dans le contenu du footer */
    flex-direction: row;
    justify-content: space-between;
}

.footer-contenu .sec {
    margin-right: 30px;      /* Espacement des blocs */
}

.footer-contenu .sec.aboutus {
    width: 40%           /* Longueur des blocs */
}

.footer-contenu .footer-titre {
    position: relative;
    color: #fff;           /* Couleur blanc des titres des blocs */
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-contenu .footer-titre:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;             /* La barre bleu au dessous des grands titres */
    width: 150px;
    height: 4px;
    background: #1F39DD;
}

.footer-contenu .footer-p {
    color: #999;            /* Couleur gris des textes du footer */
    font-size: 20px
}

.sci {
    margin-top: 20px;     /* Espacement de 20px de haut */
    display: flex;
}

.sci .sci-li {
    list-style: none;    /* Supression le rond du style des listes */
}

.sci .sci-li .sci-lien {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;    /* Les liens avec la balisa a */
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

.facebook:hover{
    background-color: #1a0dab!important;   /* Couleur de facebook pendant le survol */
}
.instagram:hover{   /* Couleur d'Instagram pendant le survol */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)!important;
}
.twitter:hover{
    background-color: #00ACEE!important;  /* Couleur de Twitter pendant le survol */
}

.sci .sci-li .sci-lien .bi {
    color: #fff;
    font-size: 20px;   /* Couleur des icônes réseaux sociaux */
}

.quickLinks {
    position: relative;  /* longueur des liens rapides */
    width: 25%;
}

.quickLinks .sec {
    padding: 0;   /* padding 0 des liens rapides */
}

.quickLinks .sec .sec-li {
    list-style: none;        /* Suppresion des ronds */
}

.quickLinks .sec .sec-li .sec-lien {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;     /* Couleur gris pour les liens rapides */
    display: inline-block;
    font-size: 20px;
}

.quickLinks .sec .sec-li .sec-lien:hover {
    color: #fff;  /* Change la couleur des liens rapides en blanc quand on survol */
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;  /* Bloc Contact */
}

.contact .info {
    position: relative;  /* position de l'email */
    padding: 0;
}

.contact .info .contact-li {
    display: flex;
    margin-bottom: 16px;   
}

.contact .info .contact-li .contact-span:nth-child(1) {
    color: #fff;
    font-size: 20px;    /* la taille de l'icône */
    margin-right: 10px;
}

.contact .info .contact-li .contact-span {
    color: #999;  /* couleur de l'email */
}

.contact .info .contact-li .email {
    color: #999;
    text-decoration: none;  /* couleur de l'email */
    font-size: 20px;
}

.contact .info .contact-li .email:hover {
    color: #fff;   /* couleur de l'email quand on survol */
}

.copyrightText {
    width: 100%;
    background: #161616;
    padding: 8px 100px;    /* Copyright */
    text-align: center;
    color: #999;
    font-size: 20px;
}

/* ---------------- RESPONSIVE FOOTER -----------------*/
@media (max-width: 991px) {
    #footer-main {
        padding: 40px;
    }
    #footer-main .footer-contenu {
        flex-direction: column;
    }
    #footer-main .footer-contenu .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    #footer-main .footer-contenu .sec.aboutus,
    .quickLinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}
/* ---------------- RESPONSIVE FOOTER -----------------*/


/* ------------------------------------------- FIN FOOTER ------------------------------------------------- */