.bannierre{
    background: url('../images/banniere2.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 10%;
}

.bannierre-titre{
    font-size: 60px;
    color: white;
    margin: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.bloc-commentaire{
    color:white;
    background-image:url(../images/back5.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 10%;
    padding: 10px;
    box-shadow: -10px 11px 5px 0px rgb(158 158 158 / 75%);
    transition:0.5s;
}
.bloc-commentaire:hover{
    box-shadow: -20px 40px 5px 0px rgb(158 158 158 / 75%);
    transition:0.5s;
}
.trait{
    height: 5px!important;
    opacity: 0.5;
    color:white;
}
.commentaires{
    color:white;
}

    