.conteneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#thermeCon {
    display: flex!important;
    align-items: center;
}

#thermeLabel {
    margin-right: 50px;
    margin-left: 15px;
}

#btnEnregistrer {
    margin-left: 100px;
}