{% extends 'base.html.twig' %}
{% block title %}Résultas de la recherche{% endblock %}

{% if app.request.method == 'POST' %}
    <div>
        {% if fiche | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>
           {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
               {% for ficheT in fiche %}
                   <div class="mt-3 p-3 bg-light border rounded">
                       
                        <h6 class="text-dark">{{ ficheT.nom }}</h6>
                        
                       
                   </div>
              {% endfor %}
          {% endif %}
     </div>
{% endif %}

{% block body %}
{% endblock %}