{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Vous n'avez pas le droit d'accèder à cette page !</h1>
        </div>
        <div>
            <p>Veuillez retourner à la page d'acceuil en cliquant <a href="/">ici</a></p>
        </div>
    </div>
{% endblock %}