{% extends 'base.html.twig' %}

{% block title %} Toutes les fiches {% endblock %}

{% block body %}
    {% for fiche in lesFiches %}
    <h1> {{fiche.nom}}</h1>
    <h1> {{fiche.dateCreation|date('d-m-Y') }}</h1>
    <h1> {{fiche.note}}</h1>


    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{asset('images/html-5.jpg')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HTML 5</h5>
        <p class="card-text">HTML5 est la dernière révision majeure du HTML. Cette version a été finalisée le 28 octobre 2014. HTML5 spécifie deux syntaxes d'un modèle abstrait défini en termes de DOM : HTML5 et XHTML5.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Dernière mise à jour il y a 3 min</small>
        
      </div>
    </div>
  </div>
  

    {% endfor %}
 {% endblock %}