{% extends 'base.html.twig' %}

{% block title %} Une fiche ! {% endblock %}

{% block body %}

    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Consultation </h1>
    </div>

    

    <div class="container mt-5 mb-5 bloc-commentaire">
        <div class="row">{{ render(controller('App\\Controller\\CommentaireController::AddCommentaire',{'ficheId':fiche.id})) }}</div>
        <hr class="trait">
        {% for comm in lesCommentaires %}
            {% if comm.isValid == true %}
            <div class="table row ms-0 commentaires">
                <div class="col-1"><h6 class="text-center callout-info">{{ comm.user.pseudo }}</h6></div>
                <div class="col-5"><p>  {{ comm.texte }}</p></div>
            </div>
            <hr class="trait">
            <br>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}