{% extends 'base.html.twig' %}


{% block title %}Rechercher une fiche{% endblock %}

{% block body %}
<div class='card text-center'>
    <h1 class=""> Rechercher une fiche</h1>
    {{ form_start(form)}}
    {{form_label(form.nom, 'titre de la fiche') }}
    {{form_widget(form.nom, {'attr':{'placeholder':"Titre de la fiche ",'class':"form-control"}}) }}
    <button class="btn btn-success" type="submit"> Rechercher</button>
    {{form_end(form)}}
    
    
    
</div>
{% endblock %}